name: Update Readme

on:
  push:
    branches: [ 2021 ]

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
        
      - name: Update readme
        run: |
          python ./update.py

      - name: Commit changes
        uses: EndBug/add-and-commit@v7
        with:
          author_name: showd0wn
          author_email: showd0wn@163.com
          message: 'update by GitHub Actions'
